﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="also-purchased-products-grid product-grid">
        <div class="section-intro pb-60px title">
            <p>@T("Products.AlsoPurchased") Item in the market</p>
            <h2><span class="section-intro__style">@T("Products.AlsoPurchased")</span></h2>
        </div>
        <div class="item-grid row">
            @foreach (var item in Model)
            {
                <div class="item-box col-md-6 col-lg-4 col-xl-3">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}