﻿@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="sidebar-categories block block-category-navigation">
        <div class="title head">
            @T("Categories")
        </div>
        <div class="listbox main-categories">
            <ul class="list common-filter">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}