﻿@model IList<PollModel>
@if (Model.Count > 0)
{
    <section class="home-page-polls pt-60px">
        <div class="container">
            <div class="title section-intro pb-60px">
                <h2>
                    <span class="section-intro__style">
                        @T("Polls.Title")
                    </span>
                </h2>
            </div>
            @foreach (var poll in Model)
            {
                @await Html.PartialAsync("_Poll", poll)
            }
        </div>
    </section>
}
