﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-newsletter-page");
}
<div class="page newsletter-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Newsletter.Title")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            <strong>
                @Model.Result
            </strong>
        </div>
    </div>
</div>
