﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <section class="product-grid bestsellers section-margin calc-60px">
        <div class="container">
            <div class="title section-intro pb-60px">
                <p>@T("Bestsellers") Item in the market</p>
                <h2><span class="section-intro__style">@T("Bestsellers")</span></h2>
            </div>
            <div class="item-grid owl-carousel owl-theme" id="bestSellerCarousel">
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
    </section>
}