﻿@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var billingAddressStepNumber = 1;
    var shippingAddressStepNumber = 2;
    var shippingMethodStepNumber = 3;
    var paymentMethodStepNumber = 4;
    var paymentInfoStepNumber = 5;
    var confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<div class="page checkout-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Checkout")</h1>
        </div>
    </div>
    <div class="page-body checkout-data">
        <div class="container">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentBefore })
            <ol class="opc" id="checkout-steps">
                <li id="opc-billing" class="tab-section allow">
                    <div class="step-title">
                        <span class="number">@billingAddressStepNumber</span>
                        <h2 class="title">@T("Checkout.BillingAddress")</h2>
                    </div>
                    <div id="checkout-step-billing" class="step a-item" style="display: none;">
                        <form id="co-billing-form" action="">
                            <div id="checkout-billing-load">
                                @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                                @*billing address content will be loaded here*@
                            </div>
                        </form>
                        <script asp-location="Footer">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                        </script>
                        <div class="buttons" id="billing-buttons-container">
                            <input type="button" title="@T("Common.Continue")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                @if (Model.ShippingRequired)
                {
                    <li id="opc-shipping" class="tab-section">
                        <div class="step-title">
                            <span class="number">@shippingAddressStepNumber</span>
                            <h2 class="title">@T("Checkout.ShippingAddress")</h2>
                        </div>
                        <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                            <form action="" id="co-shipping-form">
                                <div id="checkout-shipping-load">
                                    @*shipping address content will be loaded here*@
                                </div>
                            </form>
                            <script asp-location="Footer">
                            Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                            </script>
                            <div class="buttons" id="shipping-buttons-container">
                                @if (!Model.DisableBillingAddressCheckoutStep)
                                {
                                    <p class="back-link">
                                        <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                }
                                <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                                <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                            </div>
                        </div>
                    </li>
                    <li id="opc-shipping_method" class="tab-section">
                        <div class="step-title">
                            <span class="number">@shippingMethodStepNumber</span>
                            <h2 class="title">@T("Checkout.ShippingMethod")</h2>
                        </div>
                        <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                            <form id="co-shipping-method-form" action="">
                                <div id="checkout-shipping-method-load">
                                    @*shipping methods content will be loaded here*@
                                </div>
                                <script asp-location="Footer">
                                ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                </script>
                                <div class="buttons" id="shipping-method-buttons-container">
                                    <p class="back-link">
                                        <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                    <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                    <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                </div>
                            </form>
                        </div>
                    </li>
                }
                <li id="opc-payment_method" class="tab-section">
                    <div class="step-title">
                        <span class="number">@paymentMethodStepNumber</span>
                        <h2 class="title">@T("Checkout.PaymentMethod")</h2>
                    </div>
                    <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                        <form action="" id="co-payment-method-form">
                            <div id="checkout-payment-method-load">
                                @*payment methods content will be loaded here*@ Payment is not required
                            </div>
                        </form>
                        <script asp-location="Footer">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                        </script>
                        <div class="buttons" id="payment-method-buttons-container">
                            <p class="back-link">
                                <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                            </p>
                            <input type="button" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-payment_info" class="tab-section">
                    <div class="step-title">
                        <span class="number">@paymentInfoStepNumber</span>
                        <h2 class="title">@T("Checkout.PaymentInfo")</h2>
                    </div>
                    <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                        <form action="" id="co-payment-info-form">
                            <div id="checkout-payment-info-load">
                                @*payment info content will be loaded here*@ Payment is not required
                            </div>
                        </form>
                        <script asp-location="Footer">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                        </script>
                        <div class="buttons" id="payment-info-buttons-container">
                            <p class="back-link">
                                <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                            </p>
                            <input type="button" class="button-1 payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
                <li id="opc-confirm_order" class="tab-section">
                    <div class="step-title">
                        <span class="number">@confirmOrderStepNumber</span>
                        <h2 class="title">@T("Checkout.ConfirmOrder")</h2>
                    </div>
                    <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                        <div id="checkout-confirm-order-load">
                            @*confirm order content will be loaded here*@
                        </div>
                        <script asp-location="Footer">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                        </script>
                        <div class="buttons" id="confirm-order-buttons-container">
                            <p class="back-link">
                                <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                            </p>
                            <input type="button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                            <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                        </div>
                    </div>
                </li>
            </ol>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentAfter })
        </div>
        <script asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
        </script>
    </div>
</div>