﻿@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-blogtags sidebar-filter">
        <div class="title top-filter-head">
            <strong>@T("Blog.TagCloud")</strong>
        </div>
        <div class="listbox common-filter">
            <ul class="tags">
                @foreach (var item in Model.Tags)
                {
                    <li class="filter-list"><a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}