﻿@model ContactUsModel
@{
    Layout = "_ColumnsOneFluid";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <section class="blog-banner-area page-title" id="contact">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h2>@T("PageTitle.ContactUs")</h2>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="page-body section-margin--small">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div id="map" style="height: 420px;"></div>
                <script>
                    function initMap() {
                        var uluru = { lat: -25.363, lng: 131.044 };
                        var grayStyles = [
                            {
                                featureType: "all",
                                stylers: [
                                    { saturation: -90 },
                                    { lightness: 50 }
                                ]
                            },
                            { elementType: 'labels.text.fill', stylers: [{ color: '#A3A3A3' }] }
                        ];
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: { lat: -31.197, lng: 150.744 },
                            zoom: 9,
                            styles: grayStyles,
                            scrollwheel: false
                        });
                    }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>

            </div>

            <div class="row">
                <div class="col-md-4 col-lg-3 mb-4 mb-md-0">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>California United States</h3>
                            <p>Santa monica bullevard</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-headphone"></i></span>
                        <div class="media-body">
                            <h3><a href="tel:454545654">00 (440) 9865 562</a></h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3><a href="mailto:support@colorlib.com">support@colorlib.com</a></h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-lg-9">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
                    @if (Model.SuccessfullySent)
                    {
                        <div class="result">
                            @Model.Result
                        </div>
                    }
                    else
                    {
                        <form asp-route="ContactUs" method="post" class="form-contact contact_form">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <div class="fieldset">
                                <div class="form-fields row">
                                    <div class="col-lg-5">
                                        <div class="form-group inputs">
                                            @*<label asp-for="FullName" asp-postfix=":"></label>*@
                                            <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="form-control fullname" />
                                            <nop-required />
                                            <span asp-validation-for="FullName"></span>
                                        </div>
                                        <div class="form-group inputs">
                                            @*<label asp-for="Email" asp-postfix=":"></label>*@
                                            <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="form-control email" />
                                            <nop-required />
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                        @if (Model.SubjectEnabled)
                                        {
                                            <div class="form-group inputs">
                                                @*<label asp-for="Subject" asp-postfix=":"></label>*@
                                                <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="form-control subject" />
                                                <nop-required />
                                                <span asp-validation-for="Subject"></span>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="form-group inputs enquiry-form-group">
                                            @*<label asp-for="Enquiry" asp-postfix=":"></label>*@
                                            <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="form-control different-control w-100 enquiry"></textarea>
                                            <nop-required />
                                            <span asp-validation-for="Enquiry"></span>
                                        </div>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="captcha-box col-lg-12 text-center">
                                            <nop-captcha />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group text-center text-md-right mt-3 buttons">
                                <button type="submit" name="send-email" class="button button--active button-contactForm button-1 contact-us-button">
                                    @T("ContactUs.Button")
                                </button>
                            </div>
                        </form>
                    }
                </div>
            </div>


            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
        </div>
    </section>
</div>
