﻿@model ProductDetailsModel.GiftCardModel
@if (Model.IsGiftCard)
{
    <div class="giftcard">
        <div class="form-group">
            @*<label asp-for="RecipientName" asp-postfix=":"></label>*@
            <input asp-for="RecipientName" class="form-control recipient-name" placeholder="Recipient Name"/>
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div class="form-group">
                @*<label asp-for="RecipientEmail" asp-postfix=":"></label>*@
                <input asp-for="RecipientEmail" class="form-control recipient-email" placeholder="Recipient Email"/>
            </div>
        }
        <div class="form-group">
            @*<label asp-for="SenderName" asp-postfix=":"></label>*@
            <input asp-for="SenderName" class="form-control sender-name" placeholder="Sender Name"/>
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div class="form-group">
                @*<label asp-for="SenderEmail" asp-postfix=":"></label>*@
                <input asp-for="SenderEmail" class="form-control sender-email" placeholder="Sender Email"/>
            </div>
        }
        <div class="form-group">
            @*<label asp-for="Message" asp-postfix=":"></label>*@
            <textarea asp-for="Message" class="form-control message" placeholder="Message"></textarea>
        </div>
    </div>
}