﻿@model CustomerProductReviewsModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.CustomerProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-my-product-reviews-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ProductReviews })
}
<div class="page account-page my-product-reviews-list-page">
    @section pageTitle
    {
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.CustomerProductReviews")</h1>
        </div>
    }
    <div class="page-body">
        @if (Model.ProductReviews.Count > 0)
        {
            foreach (var review in Model.ProductReviews)
            {
                var ratingPercent = review.Rating * 20;
                <div class="review_item product-review-item">
                    <div class="media">
                        <div class="d-flex">
                            <div class="avatar">
                                <img src="~/Themes/Aroma/Content/images/avatar.png" />
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="review-item-head">
                                <div class="review-title">
                                    <h4>@review.Title</h4>@(!string.IsNullOrEmpty(review.ApprovalStatus) ? $" - {review.ApprovalStatus}" : null)
                                    <h5 class="date">
                                        @*<label>@T("Reviews.Date"):</label>*@
                                        <span>@review.WrittenOnStr</span>
                                    </h5>
                                </div>
                                <div class="product-review-box">
                                    <div class="rating">
                                        <div style="width: @(ratingPercent)%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-content">
                                <div class="review-text">
                                    @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                                </div>
                                @foreach (var reviewType in review.AdditionalProductReviewList.Where(x => x.Rating > 0))
                                {
                                    var ratingExtPercent = reviewType.Rating * 20;
                                    <div class="review-type-rating-ext">
                                        <div class="review-title">
                                            <i>@reviewType.Name</i>
                                        </div>
                                        <div class="product-review-box">
                                            <div class="rating">
                                                <div style="width: @(ratingExtPercent)%">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br /><br />
                                }
                                <div class="review-info">
                                    <span class="user">
                                        <label>@T("Account.CustomerProductReviews.ProductReviewFor"):</label>
                                        <a href="@Url.RouteUrl("Product", new {SeName = review.ProductSeName})">@review.ProductName</a>

                                    </span>
                                    <span class="separator">|</span>

                                </div>
                                @if (!string.IsNullOrEmpty(review.ReplyText))
                                {
                                    <div class="reply">
                                        <div class="reply-header">
                                            @T("Reviews.Reply")
                                        </div>
                                        <div class="reply-text">
                                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReplyText, false, true, false, false, false, false))
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            var pager = Html.Pager(Model.PagerModel);
            if (!string.IsNullOrEmpty(pager.ToHtmlString()))
            {
                <div class="pager">
                    @pager
                </div>
            }
        }
        else
        {
            <div class="no-data">
                @T("Account.CustomerProductReviews.NoRecords")
            </div>
        }
    </div>
</div>