﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

@await Component.InvokeAsync("NewsletterBox")

<footer class="footer">
    <div class="footer-upper footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Our Mission</h4>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no
                            divided deep moved us lan Gathering thing us land years living.
                        </p>
                        <p>
                            So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                        </p>
                    </div>
                </div>

                <div class="col-lg-9 col-md-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-block information single-footer-widget tp_widgets">
                                <h4 class="title footer_title">
                                    @T("Footer.Information")
                                </h4>
                                <ul class="list">
                                    @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                                    }
                                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                                    {
                                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                                    }
                                    @if (Model.DisplayContactUsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-block customer-service single-footer-widget tp_widgets">
                                <h4 class="title footer_title">
                                    @T("Footer.CustomerService")
                                </h4>
                                <ul class="list">
                                    @if (Model.DisplayProductSearchFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                                    }
                                    @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                                    }
                                    @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                                    }
                                    @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                                    }
                                    @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                                    }
                                    @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                                    }
                                    @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                                    }
                                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                                    {
                                        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                                    }
                                    @if (Model.AllowCustomersToCheckGiftCardBalance)
                                    {
                                        <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-block my-account single-footer-widget tp_widgets">
                                <h4 class="title footer_title">
                                    @T("Footer.MyAccount")
                                </h4>
                                <ul class="list">
                                    @if (Model.DisplayCustomerInfoFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                                    }
                                    @if (Model.DisplayCustomerOrdersFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                                    }
                                    @if (Model.DisplayCustomerAddressesFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                                    }
                                    @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                                    }
                                    @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                                    }
                                    @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                                    {
                                        <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                                    }
                                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                                    {
                                        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-block single-footer-widget tp_widgets">
                                <h4 class="footer_title">@T("pagetitle.contactus")</h4>
                                <div class="ml-40">
                                    <p class="sm-head">
                                        <span class="fa fa-location-arrow"></span>
                                        Head Office
                                    </p>
                                    <p>123, Main Street, Your City</p>

                                    <p class="sm-head">
                                        <span class="fa fa-phone"></span>
                                        Phone Number
                                    </p>
                                    <p>
                                        +123 456 7890
                                    </p>

                                    <p class="sm-head">
                                        <span class="fa fa-envelope"></span>
                                        Email
                                    </p>
                                    <p>
                                        free@infoexample.com <br>
                                    </p>
                                    @*<p class="sm-head">
                                            <span class="fa fa-globe"></span>
                                            Website
                                        </p>
                                        <p>
                                            www.infoexample.com
                                        </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="footer-middel">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="~/Themes/Aroma/Content/img/payment-logo.png" />
                </div>
                <div class="col-sm-6 text-right">
                    <div class="footer-block follow-us single-footer-widget tp_widgets">
                        <div class="social">
                            @*<h4 class="title footer_title">
                                @T("Footer.FollowUs")
                            </h4>*@
                            @await Component.InvokeAsync("SocialButtons")
                        </div>
                        @*@await Component.InvokeAsync("NewsletterBox")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-info col-md-5">
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                    @if (Model.DisplayTaxShippingInfoFooter)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        <span class="footer-tax-shipping">
                            @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                </div>
                <div class="col-md-2 text-center">
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
                @if (!Model.HidePoweredByNopCommerce)
                {
                    <div class="footer-powered-by col-md-5 text-right">
                        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                            Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
                        Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
                    </div>
                }
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</footer>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>