@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings
<div class="cart_inner order-summary-content">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore })
    @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
        <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
            <div class="row">
                <div class="col-sm-9">
                    <div class="table-responsive table-wrapper">
                        <table class="table cart">
                            @*
                    <colgroup>
                    @if (Model.IsEditable)
                    {
                        <col width="1" />
                    }
                    @if (Model.ShowSku)
                    {
                        <col width="1" />
                    }
                    @if (Model.ShowProductImages)
                    {
                        <col width="1" />
                    }
                    <col />
                    @if (Model.ShowVendorName)
                    {
                        <col width="1" />
                    }
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    </colgroup>
                            *@
                            <thead>
                                <tr>
                                    @*@if (Model.ShowSku)
                            {
                                <th scope="col" class="sku">
                                    @T("ShoppingCart.SKU")
                                </th>
                            }*@
                                    @*@if (Model.ShowProductImages)
                            {
                                <th scope="col" class="product-picture">
                                    @T("ShoppingCart.Image")
                                </th>
                            }*@
                                    <th scope="col" colspan="2" class="product">
                                        @T("ShoppingCart.Product(s)")
                                    </th>
                                    @if (Model.ShowVendorName)
                                    {
                                        <th scope="col" class="vendor">
                                            @T("ShoppingCart.VendorName")
                                        </th>
                                    }
                                    <th scope="col" class="unit-price">
                                        @T("ShoppingCart.UnitPrice")
                                    </th>
                                    <th scope="col" class="quantity">
                                        @T("ShoppingCart.Quantity")
                                    </th>
                                    <th scope="col" class="subtotal">
                                        @T("ShoppingCart.ItemTotal")
                                    </th>
                                    @if (Model.IsEditable)
                                    {
                                        <th scope="col" class="remove-from-cart">
                                            @T("ShoppingCart.Remove")
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        @*@if (Model.ShowSku)
                                {
                                    <td class="sku">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </td>
                                }*@
                                        @if (Model.ShowProductImages)
                                        {
                                            <td class="media product-picture">
                                                <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})">
                                                    <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                </a>
                                            </td>
                                        }
                                        <td class="product">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                            @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <div class="attributes">
                                                    @Html.Raw(item.AttributeInfo)
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(item.RecurringInfo))
                                            {
                                                <div class="recurring-info">
                                                    @Html.Raw(item.RecurringInfo)
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(item.RentalInfo))
                                            {
                                                <div class="rental-info">
                                                    @Html.Raw(item.RentalInfo)
                                                </div>
                                            }
                                            @if (Model.IsEditable && item.AllowItemEditing)
                                            {
                                                var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName }, webHelper.CurrentRequestProtocol);
                                                editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid", item.Id.ToString());
                                                <div class="edit-item">
                                                    <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                                </div>
                                            }
                                            @if (item.Warnings.Count > 0)
                                            {
                                                <div class="message-error">
                                                    <ul>
                                                        @foreach (var warning in item.Warnings)
                                                        {
                                                            <li>@Html.Raw(warning)</li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </td>
                                        @if (Model.ShowVendorName)
                                        {
                                            <td class="vendor">
                                                @*<label class="td-title">@T("ShoppingCart.VendorName"):</label>*@
                                                <span class="vendor-name">@item.VendorName</span>
                                            </td>
                                        }
                                        <td class="unit-price">
                                            @*<label class="td-title">@T("ShoppingCart.UnitPrice"):</label>*@
                                            <span class="product-unit-price">@item.UnitPrice</span>
                                        </td>
                                        <td class="quantity">
                                            @*<label class="td-title" for="itemquantity@(item.Id)">@T("ShoppingCart.Quantity"):</label>*@
                                            @if (Model.IsEditable)
                                            {
                                                if (item.AllowedQuantities.Count > 0)
                                                {
                                                    <select name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" class="qty-dropdown">
                                                        @foreach (var qty in item.AllowedQuantities)
                                                        {
                                                            <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <div class="product_count">
                                                        <input name="itemquantity@(item.Id)" id="itemquantity@(item.Id)" type="text" maxlength="20" value="@(item.Quantity)" class="qty-input input-text qty" />

                                                        @*<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                                class="input-text qty">*@
                                                        <button onclick="var result = document.getElementById('itemquantity@(item.Id)'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                                class="increase items-count" type="button">
                                                            <i class="lnr lnr-chevron-up"></i>
                                                        </button>
                                                        <button onclick="var result = document.getElementById('itemquantity@(item.Id)'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                                class="reduced items-count" type="button">
                                                            <i class="lnr lnr-chevron-down"></i>
                                                        </button>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <span class="product-quantity">@item.Quantity</span>
                                            }
                                        </td>
                                        <td class="subtotal">
                                            @*<label class="td-title">@T("ShoppingCart.ItemTotal"):</label>*@
                                            <span class="product-subtotal">@item.SubTotal</span>
                                            @if (!string.IsNullOrEmpty(item.Discount))
                                            {
                                                <div class="discount">
                                                    @T("ShoppingCart.ItemYouSave", item.Discount)
                                                </div>
                                                if (item.MaximumDiscountedQty.HasValue)
                                                {
                                                    <div class="discount-additional-info">
                                                        @T("ShoppingCart.MaximumDiscountedQty", item.MaximumDiscountedQty.Value)
                                                    </div>
                                                }
                                            }
                                        </td>
                                        @if (Model.IsEditable)
                                        {
                                            <td class="remove-from-cart">
                                                @if (item.DisableRemoval)
                                                {
                                                    <text>&nbsp;</text>
                                                }
                                                else
                                                {
                                                    @*<label class="td-title" for="removefromcart@(item.Id)">@T("ShoppingCart.Remove"):</label>*@
                                                    <input type="checkbox" name="removefromcart" id="removefromcart@(item.Id)" value="@(item.Id)" style="visibility:hidden;" />
                                                    <a class="icon-custom icon-delete remove-from-cart-button">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="table cart-options-table">
                            <tr class="cart-options">
                                @if (Model.IsEditable)
                                {
                                    <td class="common-buttons">
                                        <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button button-2 update-cart-button" />
                                    </td>
                                }
                                <td>
                                    @if (Model.IsEditable)
                                    {
                                        @await Html.PartialAsync("_CheckoutAttributes", Model)
                                    }
                                </td>
                                <td>
                                    @await Component.InvokeAsync("SelectedCheckoutAttributes")
                                </td>
                                <td class="text-right">
                                    <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button button-2 continue-shopping-button" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <div class="tax-shipping-info">
                            @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </div>
                    }
                </div>

                <div class="col-sm-3">
                    <div class="totals">
                    <div class="title">
                        <h4>
                            Order Summary
                        </h4>
                    </div>
                    @await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })
                    @if (Model.IsEditable)
                    {
                        if (!string.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                        {
                            <div class="min-amount-warning">
                                @Model.MinOrderSubtotalWarning
                            </div>
                        }
                    }
                    <div class="cart-footer">
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryCartFooter })
                        @if (Model.IsEditable)
                        {
                            <div class="cart-collaterals">
                                <div class="deals">
                                    @await Html.PartialAsync("_DiscountBox", Model.DiscountBox)
                                    @await Html.PartialAsync("_GiftCardBox", Model.GiftCardBox)
                                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentDeals })
                                </div>
                            </div>
                            @await Component.InvokeAsync("EstimateShipping")
                        }
                    </div>

                    @if (Model.IsEditable)
                    {
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <label for="termsofservice">
                                    <input id="termsofservice" type="checkbox" name="termsofservice" />
                                    @T("Checkout.TermsOfService.IAccept")
                                    @if (Model.TermsOfServicePopup)
                                    {
                                        <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                        <script asp-location="Footer">
                                        $(document).ready(function() {
                                            $('#read-terms').on('click',
                                                function(e) {
                                                    e.preventDefault();
                                                    displayPopupContentFromUrl(
                                                        '@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})',
                                                        '@T("Checkout.TermsOfService")');
                                                });
                                        });
                                        </script>
                                    }
                                    else
                                    {
                                        <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                                    }
                                </label>
                            </div>
                        }
                        <div class="checkout-buttons">
                            @if (string.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                            {
                                <script asp-location="Footer">
                                    $(document).ready(function () {
                                        $('#checkout').on('click', function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                if (orderSettings.CheckoutDisabled)
                                {
                                    <div class="checkout-disabled">
                                        @T("Checkout.Disabled")
                                    </div>
                                }
                                else
                                {
                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="button button-1 checkout-button">
                                        @T("Checkout.Button")
                                    </button>
                                }
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                            {
                                @await Component.InvokeAsync(pm)
                            }
                        </div>
                    }
                </div>
            </div>
            </div>
            @if (Model.IsEditable)
            {
                @await Component.InvokeAsync("CrossSellProducts")
            }
        </form>
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentAfter })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $(".remove-from-cart-button").click(function (e) {
            e.preventDefault();
            var $this = $(this);
            var $product = $("input[type='checkbox']", $this.parent());
            $product.attr("checked", "checked");
            $(".update-cart-button").click();
        });
    });
</script>