﻿@model PopularProductTagsModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-tags sidebar-filter">
        <div class="title top-filter-head">
            <strong>@T("Products.Tags.Popular")</strong>
        </div>
        <div class="listbox common-filter">
            <div class="tags">
                <ul>
                    @foreach (var item in Model.Tags)
                    {
                        <li class="filter-list"><a href="@Url.RouteUrl("ProductsByTag", new { item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a></li>
                    }
                </ul>
            </div>
            @if (Model.TotalTags > Model.Tags.Count)
            {
                <div class="filter-list view-all">
                    <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}