﻿@model HeaderLinksModel
@inject Nop.Core.IWebHelper webHelper
@*<div class="header-links">*@
<ul class="nav-shop">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
    <li class="nav-item">
        <button type="button" data-toggle="modal" data-target="#SearchBoxModal">
            <i class="ti-search"></i>
        </button>
    </li>
    @if (Model.IsAuthenticated)
    {
        <li class="nav-item">
            <a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">
                <i class="fas fa-user"></i>
                @*@T("Account.MyAccount")*@
                @*@Model.CustomerName*@
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.RouteUrl("Logout")" class="ico-logout">
                <i class="fa fa-sign-out-alt"></i>
                @*@T("Account.Logout")*@
            </a>
        </li>
    }
    else
    {
        var returnUrl = webHelper.GetRawUrl(Context.Request);

        <li class="nav-item">
            <a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register">
                @*@T("Account.Register")*@
                <i class="fa fa-user-plus"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login">
                @*@T("Account.Login")*@
                <i class="fa fa-sign-in-alt"></i>
            </a>
        </li>
    }
    @if (Model.AllowPrivateMessages)
    {
        <li class="nav-item">
            <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">
                <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
            </a>
        </li>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <li class="nav-item" id="topcartlink">
            <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                <i class="ti-shopping-cart"></i>
                @*<span class="cart-label">@T("ShoppingCart")</span>*@
                <span class="cart-qty nav-shop__circle">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
            </a>
        </li>
    }
    @if (Model.WishlistEnabled)
    {
        <li class="nav-item">
            <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
                <i class="fas fa-heart"></i>
                @*<span class="wishlist-label">@T("Wishlist")</span>*@
                <span class="wishlist-qty nav-shop__circle">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
            </a>
        </li>
    }
    <li class="nav-item">
        @await Component.InvokeAsync("TaxTypeSelector")
        @await Component.InvokeAsync("CurrencySelector")
        @await Component.InvokeAsync("LanguageSelector")
    </li>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
</ul>
@if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
{
    //new private message notification
    <script asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
    </script>
}
@if (Model.ShoppingCartEnabled)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.header').on('mouseenter', '#topcartlink', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.header').on('mouseleave', '#topcartlink', function () {
                $('#flyout-cart').removeClass('active');
            });
            $('.header').on('mouseenter', '#flyout-cart', function () {
                $('#flyout-cart').addClass('active');
            });
            $('.header').on('mouseleave', '#flyout-cart', function () {
                $('#flyout-cart').removeClass('active');
            });
        });
    </script>
}
@*</div>*@
@await Component.InvokeAsync("SearchBox")