﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <div class="section-intro pb-60px title">
            <p>@T("ShoppingCart.CrossSells") Item in the market</p>
            <h2><span class="section-intro__style">@T("ShoppingCart.CrossSells")</span></h2>
        </div>
        <div class="item-grid row">
            @foreach (var product in Model)
            {
                <div class="item-box col-md-6 col-lg-4 col-xl-3">
                    @await Html.PartialAsync("_ProductBox", product)
                </div>
            }
        </div>
    </div>
}