﻿@model ActiveDiscussionsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
    //page class
    Html.AppendPageCssClassParts("html-active-discussions-page");
}
<div class="page active-discussions-page">
    <div class="container">
        @await Component.InvokeAsync("ForumBreadcrumb")
        @await Html.PartialAsync("_ForumHeader")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsActivediscussionsAfterHeader })
        @await Html.PartialAsync("_ActiveTopics", Model)
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsActivediscussionsAfterTopics })
    </div>
</div>
