﻿@model ForumGroupModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.Name);
    //page class
    Html.AppendPageCssClassParts("html-forum-group-page");
}
<div class="page forum-group-page">
    <div class="container">
        @await Component.InvokeAsync("ForumBreadcrumb", new { forumGroupId = Model.Id })
        @await Html.PartialAsync("_ForumHeader")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsForumGroupAfterHeader })
        @await Html.PartialAsync("_ForumGroup", Model)
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsForumGroupBottom })
    </div>
</div>
