﻿@model TopicMoveModel
@{    
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("Forum.PageTitle.MoveTopic").Text);
    //page class
    Html.AppendPageCssClassParts("html-move-topic-page");
}
@await Component.InvokeAsync("ForumBreadcrumb", new { forumTopicId = Model.Id })
<div class="page move-topic-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Forum.MoveTopic")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            <form asp-route="TopicMove" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label>@T("Forum.SelectTheForumToMoveTopic"):</label>
                            <select asp-for="ForumSelected" asp-items="@(new SelectList(Model.ForumList, "Value", "Text"))"></select>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" value="@T("Forum.Submit")" class="button-1 submit-forum-topic-button" />
                    <input type="button" class="button-2 cancel-forum-topic-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new {id = Model.Id, slug = Model.TopicSeName})')" />
                </div>
            </form>
        </div>
    </div>
</div>