﻿@model PollModel
<div class="block block-poll sidebar-filter">
    <div class="title top-filter-head">
        <strong>@T("Polls.Title")</strong>
    </div>
    <div class="listbox common-filter">
        @await Html.PartialAsync("_Poll", Model)
    </div>
</div>
