﻿@model IList<ManufacturerModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
    //page class
    Html.AppendPageCssClassParts("html-manufacturer-list-page");
}
<div class="page manufacturer-list-page">
    @section pageTitle
    {
        <div class="page-title">
            <h1>@T("Manufacturers.List")</h1>
        </div>
    }
    <div class="page-body">
        <div class="manufacturer-grid">
            <div class="item-grid row">
                @foreach (var item in Model)
                {
                    <div class="item-box col-sm-4 mb-3">
                        <div class="manufacturer-item hero-carousel__slide">

                            <div class="picture">
                                <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                </a>
                            </div>
                            <div class="title">
                                <a class="hero-carousel__slideOverlay" href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <h3>@item.Name</h3>
                                    <p>@item.Description</p>
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
