﻿@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-gdpt-tools-page");
}
@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.GdprTools })
}

<div class="page account-page gdpr-tools-page">
    @section pageTitle
    {
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.Gdpr")</h1>
        </div>
    }
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="GdprTools" method="post">
            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.Gdpr.Export")</strong>
                </div>
                <div class="form-fields">
                    @T("Account.Gdpr.Export.Hint")
                </div>
                <div class="buttons">
                    <input type="submit" name="export-data" class="button-1 gdpr-export-data-button" value="@T("Account.Gdpr.Export.Button")" />
                </div>
            </div>
            <div class="fieldset">
                <div class="title">
                    <strong>@T("Account.Gdpr.Delete")</strong>
                </div>
                <div class="form-fields">
                    @T("Account.Gdpr.Delete.Hint")
                </div>
                <div class="buttons">
                    <input type="submit" id="delete-account" name="delete-account" class="button-1 gdpr-delete-account-button" value="@T("Account.Gdpr.Delete.Button")" />

                    <script asp-location="Footer">
                        $(document).ready(function() {
                            $('#delete-account').on('click', function() {
                                return confirm('@T("Common.AreYouSure")');
                            });
                        });
                    </script>
                </div>
            </div>
        </form>
    </div>
</div>