﻿@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOneFluid";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}
<div class="page login-page">
    <div class="page-title">
        <section class="blog-banner-area">
            <div class="container h-100">
                <div class="blog-banner">
                    <div class="text-center">
                        <h2>@T("Account.Login.Welcome")</h2>
                        <nav aria-label="breadcrumb" class="banner-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Login/Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body login_box_area">
        <div class="container">
            <div class="customer-blocks row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <div class="hover">

                            @if (Model.RegistrationType == UserRegistrationType.Disabled)
                            {
                                <div class="new-wrapper">
                                    <h4 class="title">
                                        @T("Account.Register")
                                    </h4>
                                    <p class="text">
                                        @T("Account.Register.Result.Disabled")
                                    </p>
                                </div>
                            }
                            else if (Model.CheckoutAsGuest)
                            {
                                <div class="new-wrapper checkout-as-guest-or-register-block">
                                    <h4 class="title">
                                        @T("Account.Login.CheckoutAsGuestOrRegister")
                                    </h4>
                                    <p class="text">
                                        @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                                    </p>
                                    <div class="buttons">
                                        <input type="button" class="button button-account button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                                        <input type="button" class="button button-account button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="new-wrapper register-block">
                                    <h4 class="title">
                                        @T("Account.Login.NewCustomer")
                                    </h4>
                                    <p class="text">
                                        @T("Account.Login.NewCustomerText")
                                    </p>
                                    <div class="buttons">
                                        <input type="button" class="button button-account button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 returning-wrapper fieldset">
                    <div class="login_form_inner">
                        <div class="title">
                            <h3>@T("Account.Login.ReturningCustomer")</h3>
                        </div>
                        <form class="login_form" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                            <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                            <div class="row form-fields">
                                @if (Model.UsernamesEnabled)
                                {
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="Username" asp-postfix=":"></label>*@
                                        <input asp-for="Username" class="form-control username" autofocus="autofocus" placeholder="Username" />
                                        <span asp-validation-for="Username"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="Email" asp-postfix=":"></label>*@
                                        <input asp-for="Email" class="form-control email" autofocus="autofocus" placeholder="Email" />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                }
                                <div class="col-md-12 form-group inputs">
                                    @*<label asp-for="Password" asp-postfix=":"></label>*@
                                    <input asp-for="Password" class="form-control password" placeholder="Password" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-12 form-group inputs reversed">
                                    <div class="creat_account">
                                        <input asp-for="RememberMe" />
                                        <label asp-for="RememberMe"></label>
                                    </div>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="col-md-12 form-group captcha-box">
                                        <nop-captcha />
                                    </div>
                                }
                            </div>
                            <div class="col-md-12 form-group buttons">
                                <button class="button button-login w-100 button-1 login-button" type="submit">
                                    @T("Account.Login.LoginButton")
                                </button>
                                <span class="forgot-password">
                                    <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="pb-60px pt-60px">
                <div class="external-authentication">
                    @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
                </div>
                @await Component.InvokeAsync("TopicBlock", new { systemName = "LoginRegistrationInfo" })
            </div>
        </div>
    </div>
</div>