﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Account.PasswordRecovery")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="login_box_area">
                <div class="customer-blocks row">
                    <div class="col-lg-6">
                        <div class="login_box_img">
                            <div class="hover">
                                <h4>Are you new to our website?</h4>
                                <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                                <a class="button button-account" href="/register">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 returning-wrapper fieldset">
                        <div id="review-form" class="image_box_inner write-review">
                            <div class="hover">
                                <div class="title">
                                    <h3>@T("Reviews.Write")</h3>
                                </div>
                                <form asp-route="PasswordRecovery" method="post" class="image_form">
                                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                    <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                                    <div class="fieldset">
                                        <div class="form-fields">
                                            <div class="inputs form-group">
                                                @*<label asp-for="Email" asp-postfix=":"></label>*@
                                                <input asp-for="Email" class="email form-control" placeholder="Enter your email address" />
                                                <nop-required />
                                                <span asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                        @if (Model.DisplayCaptcha)
                                        {
                                            <div class="captcha-box">
                                                <nop-captcha />
                                            </div>
                                        }
                                    </div>
                                    <div class="buttons form-group">
                                        <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>