﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Account.PasswordRecovery")</h1>
        </div>
    </div>
    <div class="page-body">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @if (!Model.DisablePasswordChanging)
            {
                <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="inputs form-group">
                                @*<label asp-for="NewPassword" asp-postfix=":"></label>*@
                                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                <nop-required />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="inputs form-group">
                                @*<label asp-for="ConfirmNewPassword" asp-postfix=":"></label>*@
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" />
                                <nop-required />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="buttons form-group">
                        <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>