﻿@model RegisterModel
@{
    Layout = "_ColumnsOneFluid";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
<div class="page registration-page">
    <section class="page-title blog-banner-area">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h2>@T("Account.Register")</h2>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@T("Account.Register")</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="login_box_area page-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <div class="hover">
                            <h4>Already have an account?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                            <a class="button button-account" href="@Url.RouteUrl("Login")">Login Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner register_form_inner">
                        <h3>@T("Account.Register")</h3>
                        <form class="login_form" asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <div class="fieldset">
                                @*<div class="title">
                                        <strong>@T("Account.YourPersonalDetails")</strong>
                                    </div>*@
                                <div class="form-fields row">
                                    @if (Model.GenderEnabled)
                                    {
                                        <div class="col-md-12 form-group inputs">
                                            @*<label>@T("Account.Fields.Gender"):</label>*@
                                            <div class="gender">
                                                <span class="male">
                                                    <input class="pixel-radio" type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                                </span>
                                                <span class="female">
                                                    <input class="pixel-radio" type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="FirstName" asp-postfix=":"></label>*@
                                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                        <nop-required />
                                        <span asp-validation-for="FirstName"></span>
                                    </div>
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="LastName" asp-postfix=":"></label>*@
                                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                        <nop-required />
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                    @if (Model.DateOfBirthEnabled)
                                    {
                                        <div class="col-md-12 form-group inputs date-of-birth">
                                            @*<label>@T("Account.Fields.DateOfBirth"):</label>*@
                                            <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                             asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                             asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                             asp-begin-year="@(DateTime.Now.Year - 110)"
                                                             asp-end-year="@(DateTime.Now.Year)"
                                                             asp-selected-day="@Model.DateOfBirthDay"
                                                             asp-selected-month="@Model.DateOfBirthMonth"
                                                             asp-selected-year="@Model.DateOfBirthYear" />
                                            @if (Model.DateOfBirthRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="DateOfBirthDay"></span>
                                            <span asp-validation-for="DateOfBirthMonth"></span>
                                            <span asp-validation-for="DateOfBirthYear"></span>
                                        </div>
                                    }
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="Email" asp-postfix=":"></label>*@
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                        <nop-required />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                    @if (Model.EnteringEmailTwice)
                                    {
                                        <div class="col-md-12 form-group inputs">
                                            @*<label asp-for="ConfirmEmail" asp-postfix=":"></label>*@
                                            <input asp-for="ConfirmEmail" class="form-control" placeholder="Confirm Email" />
                                            <nop-required />
                                            <span asp-validation-for="ConfirmEmail"></span>
                                        </div>
                                    }
                                    @if (Model.UsernamesEnabled)
                                    {
                                        <div class="col-md-12 form-group inputs">
                                            @*<label asp-for="Username" asp-postfix=":"></label>*@
                                            <input asp-for="Username" class="form-control" placeholder="Username" />
                                            <nop-required />
                                            <span asp-validation-for="Username"></span>
                                            @if (Model.CheckUsernameAvailabilityEnabled)
                                            {
                                                @await Html.PartialAsync("_CheckUsernameAvailability")
                                            }
                                        </div>

                                    }
                                </div>
                            </div>
                            @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                            {
                                <div class="fieldset">
                                    @*<div class="title">
                                            <strong>@T("Account.CompanyDetails")</strong>
                                        </div>*@
                                    <div class="form-fields row">
                                        @if (Model.CompanyEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="Company" asp-postfix=":"></label>*@
                                                <input asp-for="Company" class="form-control" placeholder="Company" />
                                                @if (Model.CompanyRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="Company"></span>
                                            </div>
                                        }
                                        @if (Model.DisplayVatNumber)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="VatNumber" asp-postfix=":"></label>*@
                                                <input asp-for="VatNumber" class="form-control" placeholder="Vat Number" />
                                                <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (Model.StreetAddressEnabled ||
                               Model.StreetAddress2Enabled ||
                               Model.ZipPostalCodeEnabled ||
                               Model.CityEnabled ||
                               Model.CountyEnabled ||
                               Model.CountryEnabled)
                            {
                                <div class="fieldset">
                                    @*<div class="title">
                                            <strong>@T("Account.YourAddress")</strong>
                                        </div>*@
                                    <div class="form-fields row">
                                        @if (Model.StreetAddressEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="StreetAddress" asp-postfix=":"></label>*@
                                                <input asp-for="StreetAddress" class="form-control" placeholder="Street Address" />
                                                @if (Model.StreetAddressRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="StreetAddress"></span>
                                            </div>
                                        }
                                        @if (Model.StreetAddress2Enabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="StreetAddress2" asp-postfix=":"></label>*@
                                                <input asp-for="StreetAddress2" class="form-control" placeholder="Street Address2" />
                                                @if (Model.StreetAddress2Required)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="StreetAddress2"></span>
                                            </div>
                                        }
                                        @if (Model.ZipPostalCodeEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="ZipPostalCode" asp-postfix=":"></label>*@
                                                <input asp-for="ZipPostalCode" class="form-control" placeholder="Zip Postal Code" />
                                                @if (Model.ZipPostalCodeRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="ZipPostalCode"></span>
                                            </div>
                                        }
                                        @if (Model.CountyEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="County" asp-postfix=":"></label>*@
                                                <input asp-for="County" class="form-control" placeholder="County" />
                                                @if (Model.CountyRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="County"></span>
                                            </div>
                                        }
                                        @if (Model.CityEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="City" asp-postfix=":"></label>*@
                                                <input asp-for="City" class="form-control" placeholder="City" />
                                                @if (Model.CityRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="City"></span>
                                            </div>
                                        }
                                        @if (Model.CountryEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="CountryId" asp-postfix=":"></label>*@
                                                <select class="form-control" asp-for="CountryId" asp-items="Model.AvailableCountries"
                                                        data-trigger="country-select"
                                                        data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                                        data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                                        data-loading="#states-loading-progress"></select>
                                                @if (Model.CountryRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="CountryId"></span>
                                            </div>
                                        }
                                        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="StateProvinceId" asp-postfix=":"></label>*@
                                                <select class="form-control" asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                                @if (Model.StateProvinceRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                                <span asp-validation-for="StateProvinceId"></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (Model.PhoneEnabled || Model.FaxEnabled)
                            {
                                <div class="fieldset">
                                    @*<div class="title">
                                            <strong>@T("Account.YourContactInformation")</strong>
                                        </div>*@
                                    <div class="form-fields row">
                                        @if (Model.PhoneEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="Phone" asp-postfix=":"></label>*@
                                                <input asp-for="Phone" class="form-control" placeholder="Phone" />
                                                @if (Model.PhoneRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="Phone"></span>
                                            </div>
                                        }
                                        @if (Model.FaxEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                @*<label asp-for="Fax" asp-postfix=":"></label>*@
                                                <input asp-for="Fax" class="form-control" placeholder="Fax" />
                                                @if (Model.FaxRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="Fax"></span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                            {
                                <div class="fieldset">
                                    @*<div class="title">
                                            <strong>@T("Account.Options")</strong>
                                        </div>*@
                                    <div class="form-fields row">
                                        @if (Model.NewsletterEnabled)
                                        {
                                            <div class="col-md-12 form-group inputs">
                                                <input asp-for="Newsletter" placeholder="News letter" />
                                                <label asp-for="Newsletter" asp-postfix=":"></label>
                                                <span asp-validation-for="Newsletter"></span>
                                            </div>
                                        }
                                        @if (Model.CustomerAttributes.Count > 0)
                                        {
                                            @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                                        }
                                    </div>
                                </div>
                            }
                            @if (Model.AllowCustomersToSetTimeZone)
                            {
                                <div class="fieldset">
                                    @*<div class="title">
                                            <strong>@T("Account.Preferences")</strong>
                                        </div>*@
                                    <div class="form-fields row">
                                        <div class="col-md-12 form-group inputs">
                                            @*<label asp-for="TimeZoneId" asp-postfix=":"></label>*@
                                            <select class="form-control" asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                            <span asp-validation-for="TimeZoneId"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="fieldset">
                                @*<div class="title">
                                        <strong>@T("Account.YourPassword")</strong>
                                    </div>*@
                                <div class="form-fields row">
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="Password" asp-postfix=":"></label>*@
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <nop-required />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                    <div class="col-md-12 form-group inputs">
                                        @*<label asp-for="ConfirmPassword" asp-postfix=":"></label>*@
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                        <nop-required />
                                        <span asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="col-md-12 form-group captcha-box">
                                            <nop-captcha />
                                        </div>
                                    }
                                    @if (Model.HoneypotEnabled)
                                    {
                                        @Html.Raw(Html.GenerateHoneypotInput())
                                    }
                                </div>
                            </div>

                            @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
                            {
                                <div class="fieldset">
                                    <div class="title">
                                        <strong>@T("Account.UserAgreement")</strong>
                                    </div>
                                    <div class="form-fields row">
                                        @if (Model.AcceptPrivacyPolicyEnabled)
                                        {
                                            <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                                            </script>
                                            <div class="col-md-12 form-group inputs accept-consent">
                                                <input id="accept-consent" type="checkbox" name="accept-consent" />
                                                <label for="accept-consent">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                                @if (Model.AcceptPrivacyPolicyPopup)
                                                {
                                                    <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                                    <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                                    </script>
                                                }
                                                else
                                                {
                                                    <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                                }
                                            </div>
                                        }

                                        @if (Model.GdprConsents.Count > 0)
                                        {
                                            foreach (var consent in Model.GdprConsents)
                                            {
                                                if (consent.IsRequired)
                                                {
                                                    <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#register-button').on('click', function() {
                                            if ($('#consent@(consent.Id)').is(':checked')) {
                                                    //do some stuff
                                                    return true;
                                                } else {
                                                    //just show validation errors, don't post
                                               alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                    return false;
                                                }
                                            });
                                    });
                                                    </script>
                                                }
                                                <div class="col-md-12 form-group inputs accept-consent">
                                                    <input id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                                    <label for="consent@(consent.Id)">@consent.Message</label>
                                                </div>
                                            }

                                        }
                                    </div>
                                </div>
                            }

                            <div class="col-md-12 form-group buttons">
                                <button type="submit" id="register-button" class="button button-register w-100 button-1 register-next-step-button" name="register-button">
                                    @T("Account.Register.Button")
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="external-authentication">
                        @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>