﻿@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<form asp-route="RegisterResult" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <div class="page registration-result-page">
        <div class="page-title">
            <div class="container">
                <h1>@T("Account.Register")</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <div class="result">
                    @Model.Result
                </div>
                <div class="buttons">
                    <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")" />
                </div>
            </div>
        </div>
    </div>
</form>