﻿@model WishlistEmailAFriendModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
    //page class
    Html.AppendPageCssClassParts("html-email-a-friend-page");
}
<div class="page email-a-friend-page">
    <div class="page-title">
        <div class="container">
            <h1>@T("Wishlist.EmailAFriend.Title")</h1>
        </div>
    </div>
    <div class="page-body">
        <section class="image_box_area section-margin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box_img">
                            <div class="hover">
                                <h4>Are you new to our website?</h4>
                                <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                                <a class="button button-account" href="/register">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image_box_inner">
                            <div class="hover">
                                @if (Model.SuccessfullySent)
                                {
                                    <div class="result">
                                        @Model.Result
                                    </div>
                                }
                                else
                                {
                                    <form asp-route="EmailWishlist" method="post" class="image_form">
                                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                        <div class="fieldset">
                                            <div class="form-fields">
                                                <div class="inputs form-group">
                                                    @*<label asp-for="FriendEmail" asp-postfix=":"></label>*@
                                                    <input asp-for="FriendEmail" class="form-control friend-email" placeholder="@T("Wishlist.EmailAFriend.FriendEmail.Hint")" />
                                                    <span asp-validation-for="FriendEmail"></span>
                                                </div>
                                                <div class="inputs form-group">
                                                    @*<label asp-for="YourEmailAddress" asp-postfix=":"></label>*@
                                                    <input asp-for="YourEmailAddress" class="form-control your-email" placeholder="@T("Wishlist.EmailAFriend.YourEmailAddress.Hint")" />
                                                    <span asp-validation-for="YourEmailAddress"></span>
                                                </div>
                                                <div class="inputs form-group">
                                                    @*<label asp-for="PersonalMessage" asp-postfix=":"></label>*@
                                                    <input asp-for="PersonalMessage" class="form-control personal-message" placeholder="@T("Wishlist.EmailAFriend.PersonalMessage.Hint")" />
                                                    <span asp-validation-for="PersonalMessage"></span>
                                                </div>
                                                @if (Model.DisplayCaptcha)
                                                {
                                                    <div class="captcha-box form-group">
                                                        <nop-captcha />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="buttons form-group">
                                            <input type="submit" name="send-email" class="button button-1 send-email-a-friend-button" value="@T("Wishlist.EmailAFriend.Button")" />
                                        </div>
                                    </form>
                                }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
